.div-second-phase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  box-shadow: 0.1px 0.1px 3px 0.1px rgb(105, 105, 105);
  border: none;
  
}

.div-statistic {
 display: flex;
 flex-direction: column;
 row-gap: 10px;
 margin-left: 20px;
 
}


.div-open {
  margin-right: 25px;
}

.detailed {
 margin: 0;
 font-family: arial;
 font-size: 20px;
 color: white;
 font-weight: 700;
}
  
.app {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(184, 183, 183);
  margin: 0;
}

.open-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(70, 70, 243);
  color: white;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  box-shadow: 0.2px 0.2px 3px 0.2px rgb(44, 43, 43);
}


.open-button:hover {
  background-color: white;
  color: rgb(70, 70, 243);
  box-shadow: inset 1px 2px 4px rgb(44, 43, 43);
}
